<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>helloworld</title>
</head>
<body>
    <div id="app">
        <div>{{message}}</div>
        <div v-bind:title="message1">鼠标悬停几秒钟查看此处动态绑定的提示信息！</div>
        <div v-if="seen">现在你看到我了</div>
        <ol>
            <li v-for="item in items">{{item.text}}</li>
        </ol>
        <div>
            <span>{{helloVue}}</span>
            <button v-on:click="reverseMessage">逆转消息</button>
        </div>
        <div>
            <p>{{message}}</p>
            <input type="text" v-model="message"/>
        </div>
        <div>
            <ul>
                <todo-item 
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind::key="item.id">
                </todo-item>
            </ul>
        </div>
    </div>
    <script src="vue.js"></script>
    <script type="text/javascript">
        Vue.component('todo-item',{
            props:['todo'],
            template:'<li>{{todo.text}}</li>'
        })
        var app = new Vue({
            el:"#app",
            data:{
                message:'Hello Vue!',
                message1:'页面加载于'+ new Date().toLocaleDateString(),
                seen:true,
                items:[
                    {text:'学习JavaScript'},
                    {text:'学习Vue'},
                    {text:'整个牛项目'}
                ],
                helloVue:'Hello Vue.js',
                groceryList:[
                    {id:0,text:'蔬菜'},
                    {id:1,text:'奶酪'},
                    {id:2,text:'随便'}
                ]
            },
            methods:{
                reverseMessage:function(){
                    this.helloVue = this.helloVue.split(' ').reverse().join(' ')
                }
            }
        })
    </script>
</body>
</html>