<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
</head>
<body>
    <div id="app">
        <!-- v-if -->
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>Ok</h1>
        <!-- 在 <template> 元素上使用 v-if 条件渲染分组 -->
        <template v-if="no">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <!-- v-else-if -->
        <p v-if="type === 'a'">a</p>
        <p v-else-if="type === 'b'">b</p>
        <p v-else="">not a and b</p>
        <!-- 用key管理可复用的元素 -->
        <div>
            <p v-if="toggle"><label>username</label><input type="text" placeholder="uesrname" key="uesrename"></p>
            <p v-else><label>email</label><input type="text" placeholder="email" key="email"></p>
            <button @click="toggle = !toggle">toggle</button>
        </div>
    </div>
    <script src="../vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                ok:true,
                no:true,
                type:'c',
                toggle:true
            }
        })
    </script>
</body>
</html>